
.idea
api/.idea
api/.gita
api/node_modules
api/dist
api/.env



client/.gita
client/node_modules
client/.DS_Store
client/dist
client/dist-ssr
client/*.local
client/src/asserts/*
client/.idea
client/.vscode
client/.netlify
client/deploy.sh
client/src/asserts/fontawesome-pro-5.12.0-web
client/fortawesome