@import "src/scss/--mixin";

.badge{
  @apply bg-green-400
    text-white
    absolute;
  padding: 2px 6px;
  top: 2px;
  left: 31px
}

.navigation{
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55px;
  padding: 0 15px;
  background: #ff7c7c;
  .main-nav{
    min-height: 48px;
    display: flex;
    align-items: center;
    .nav-item{
      padding: 10px;
      a{
        @apply text-light-900;
        //color: ;
      }
    }
  }
}
.input{

}


.nav_items{
  .nav_item{
    @apply px-2 lg:px-4 py-4
  }
  .avatar_logo{
    padding: 0 !important;
  }
  i{
    //top: 10px;
    font-size: 18px;
    //color: #444444;
    @apply text-light-850;
  }
}

.auth_nav{

}
.h-48{height: 48px}

.logo{
  background-image: url("../../asserts/images/logo-full.svg");
  width: 158px;
  height: 34px;
  background-repeat: no-repeat;
  @include get_down(800px){
    background-image: url("../../asserts/images/logo.svg");
    width: 50px;
    height: 34px;
  }
}
.nav-logo{
  @include get_down(800px){
    flex: 0!important;
  }
}
.nav-auth{
  @include get_down(800px){
    flex: 0!important;
  }
}
.nav_items{
  @include get_down(800px){
    justify-content: space-between;
    padding: 0 20px;
  }
  @include get_down(500px){
    padding: 0 2px;
    .avatar_logo{
      margin-right: 0;
      margin-left: 15px;
    }
    .nav_item{
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }
}